﻿
@{
    /**/
    string parametroUpdate = DS_Spl_Saldos.Util.ActualizacionJS.obtenerParametro();

    ViewBag.Title = "Reporte Saldos";
}

<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
<link href="~/Content/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/ion-rangeslider/css/ion.rangeSlider.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/tag-it/css/jquery.tagit.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-fontawesome.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-glyphicons.css" rel="stylesheet" />

<link href="~/Content/assets/plugins/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<!-- ================== END PAGE LEVEL STYLE ================== -->
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="~/Content/assets/plugins/jquery-migrate/dist/jquery-migrate.min.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/moment/moment.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/moment/locale/es.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/ion-rangeslider/js/ion.rangeSlider.min.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/jquery.maskedinput/src/jquery.maskedinput.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/pwstrength-bootstrap/dist/pwstrength-bootstrap.min.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/bootstrap-select/dist/js/bootstrap-select.min.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/tag-it/js/tag-it.min.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/bootstrap-daterangepicker/daterangepicker.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/select2/dist/js/select2.min.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/bootstrap-show-password/dist/bootstrap-show-password.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/clipboard/dist/clipboard.min.js?@parametroUpdate"></script>

<script src="~/Content/assets/plugins/bootstrap-select/dist/js/bootstrap-select.min.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/select2/dist/js/select2.min.js?@parametroUpdate"></script>
<!-- ================== END PAGE LEVEL JS ================== -->

<script src="~/WebJs/Reportes/ReporteSaldo.js?@parametroUpdate"></script>
<script>
    $(document).ready(function () {
        $("#txtFecha").datepicker({
            format: 'yyyy-mm-dd'
        }).datepicker("setDate", new Date());
    });     
</script>
<div class="row col-lg-12">
    <div class="col-lg-12">
        <div class="panel panel-inverse" data-sortable-id="ui-widget-1">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Reporte Saldo
                </h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive form-inline">
                    <table class="table table-profile">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label">Empresas:</label>
                                        <div class="col-lg-8">
                                            @*<select id="ddlBaseDatos" class="multiple-select2 form-control" style="width: 100%" multiple="multiple"></select>*@
                                            <select id="ddlBaseDatos" class="selected form-control" style="width: 100%">
                                                <option value="KPSA0405">SPL</option>
                                                @*<option value="SPAIRCA">SPAC</option>
                                                <option value="SPTRANSPORT">SPT</option>
                                                <option value="OTC">OTC</option>
                                                <option value="CFC">CFC</option>*@
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label">Seleccione Fecha</label>
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control" id="txtFecha" placeholder="   Fecha"/>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td nowrap="nowrap">
                                    <button id="btnCrearReporte" type="button" class="btn btn-primary">Crear Reporte</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="alert alert-success" role="alert" id="divCreandoReporte" style="display: none">
                                        <h4 class="alert-heading">Generacion Reporte</h4>
                                        <p>Se esta generando reporte de saldos, favor espere.</p>
                                        <hr>
                                        <p id="divCreandoReporteCargando" class="mb-0">
                                            <i class="fas fa-circle-notch fa-spin"></i>
                                            Creando...
                                        </p>
                                        <div id="divCreandoReporteCreado">
                                            <p class="mb-0">Reporte(s) creado(s)</p>
                                            <p id="divCreandoReporteCreado" class="mb-0">Reporte creado, presione <a id="divCreandoReporteCreadoDescargar" class="btn btn-outline-success">AQUI</a> para descargar su reporte</p>
                                        </div>
                                    </div>
                                    <div id="divTablaStock" style="display: none">
                                        <table class="table table-profile">
                                            <thead>
                                                <tr>
                                                    <th>Codigo Producto</th>
                                                    <th>Descripcion Producto</th>
                                                    <th>Unidad Medida</th>
                                                    <th>Grupo</th>
                                                    <th>SubGrupo</th>
                                                    <th>Codigo Bodega</th>
                                                    <th>Nombre Bodega</th>
                                                    <th>Stock Tipo</th>
                                                    <th>Cantidad Stock</th>
                                                </tr>
                                            </thead>
                                            <tbody id="divCreandoReporteCreadoTabla"></tbody>
                                        </table>
                                    </div>
                                    <div class="alert alert-danger" role="alert" id="divCreandoReporteError" style="display: none">
                                        <h4 class="alert-heading">Generacion Reporte</h4>
                                        <p id="divCreandoReporteErrorMensaje"></p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>